Repository WyriHaximus/reactphp-http-middleware-webroot-preload, pull requests merged in 2020-12, with the labels that each got.

#54 fail-fast: false
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#55 Next Gen QA
  .github/workflows/ci.yml
  Makefile
  composer.json
  composer.lock
  phpcs.xml
  phpunit.xml
  psalm.xml
  src/WebrootPreloadMiddleware.php
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, JSON 👨‍💼, PHP 🐘, Source 🔮, YAML 🍄

#53 Add support to PHP 8.0
  .gitignore
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘
